<div class="container w-50 pt-5">
  <h1 class="text-center">Student Login</h1>
  <form [formGroup]="studentForm" (submit)="onLoginSubmit()">
    <div class="mb-3">
      <label class="form-label"
        >Email <span class="text-danger">*</span></label
      >
      <input
        type="text"
        required
        class="form-control"
        formControlName="email"
        placeholder="ex. abc123@gmail.com"
      />
      <small
        class="text-danger"
        *ngIf="studentForm.get('email')?.touched && studentForm.get('email')?.invalid && studentForm.get('email')?.errors?.['required']"
      >
        Username Is Required
      </small>
    </div>
    <div class="mb-3">
      <label class="form-label"
        >Password <span class="text-danger">*</span></label
      >
      <input
        type="password"
        required
        class="form-control"
        formControlName="password"
        placeholder="Enter Valid Password"
      />
      <small
        class="text-danger"
        *ngIf="studentForm.get('password')?.touched && studentForm.get('password')?.invalid && studentForm.get('password')?.errors?.['required']"
      >
        Password Is Required
      </small>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-success btn-sm" [disabled]="studentForm.invalid">login</button>
    </div>
  </form>
</div>
